<form #formInfo="ngForm">
    <!-- name -->
    <mat-form-field class="example-full-width">
        <input matInput type="text" required #textTitleInfo="ngModel"
         [(ngModel)]="task.title" name="title" placeholder="Task Title">
        <mat-error *ngIf="textTitleInfo.errors?.required && textTitleInfo.touched">
            Missing Text Title</mat-error>
    </mat-form-field>

    <!-- description -->
    <mat-form-field>
        <textarea matInput placeholder="Description" [(ngModel)]="task.description"
         name="description"></textarea>
    </mat-form-field>

    <!-- date -->
    <mat-form-field class="example-full-width">
        <input [(ngModel)]="task.date" name="taskdate" matInput 
        [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button [disabled]="formInfo.form.invalid" (click)="addTask()">
        ADD TASK
    </button>

</form>